.brand{
  padding-top: 30px;
  padding-bottom: 30px;
  @include span-columns(9);
}

.brand img{
  width: 150px;
  height: auto;
}

nav{
  float: right;
  padding-top: 30px;
  @include span-columns(3);
  text-align: right;
}

#bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  width: auto;
  height: auto;
  z-index: -200;
  background: url(../../video/ambient.png) no-repeat;
  background-size: cover;
}

#bg-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: $primary-color;
  opacity:0.6;
}

#header{
  position: absolute;
  display: block;
  top:0;
  left: 0;
  right: 0;
  z-index: 9999;
}