.content-module{
  background-color: #fff;
  border-bottom: 1px solid $border-color;
}

.module-row{
  @include span-columns(12);
}

.module-col:nth-of-type(1){
  @include span-columns(5);
  padding-top: 100px;
}

.module-col:nth-of-type(2){
  position: relative;
  @include span-columns(6);
  @include shift(1);
  padding-top: 100px;
  padding-bottom: 100px;
  border-left: 1px solid $border-color;
  padding-left:$column + $gutter;
}

.lead-about{
  position: absolute;
  bottom: 0;
}

