.content-module{
  background-color: #fff;
  border-bottom: 1px solid $border-color;
}

.module-row{
  @include span-columns(12);
}

.module-col:nth-of-type(1){
  @include span-columns(5);
  padding-top: 50px;
}

.module-col:nth-of-type(2){
  position: relative;
  @include span-columns(6);
  @include shift(1);
  padding-top: 50px;
  padding-bottom: 50px;
  border-left: 1px solid $border-color;
  padding-left:$column + $gutter;
}


.sponsor{
  @include span-columns(3);
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: 1px solid $border-color;
  text-align: center;
}

.sponsor-container{
  border-bottom: 1px solid $border-color;
  @include outer-container;
}

.sponsor:nth-of-type(4n){
  @include omega;
  border-right: none;
}

.sponsor img {
  width: 50%;
}

.speaker-img, .challange-img{
  display: block;
  float: left;
  @include span-columns(4);
}

.speaker-info{
  @include shift(1);
  @include span-columns(7);
}

.challange-info{
  @include span-columns(12);
}

.challange-info{
  padding-top: 0;
}

.lead-about{
  position: absolute;
  bottom: 0;
}

#mailer{
  background-color: $primary-color;
  color: #fff;
}

.mailer-container{
  @include span-columns(9);
  @include shift(3);
  padding-top: 200px;
  padding-bottom: 200px;
}
