.speaker{
  padding-top: em(50);
  padding-bottom: em(50);
  border-top: 1px solid $border-color;
  @include clearfix;
}

.speaker-img, .challange-img{
  display: block;
  float: left;
  @include span-columns(4);
}

.speaker-info{
  @include shift(1);
  @include span-columns(7);
  padding-top: em(45);
}

.challange-info{
  @include span-columns(12);
}

.speakers-title{
  font-size: 1.75em;
  @include shift(5);
}

.speaker-img{
  @include span-columns(3);
  @include shift(1);
  display: block;
  border-radius:50%;
}