#event-nav-banner{
  position: fixed;
  top: 83px;
  padding:20px;
  right:0;
  left: 0;
  background-color: $secondary-color;
  color: $primary-color;
  display: none;
  z-index:989898;
  text-align: center;
}

#event-nav-banner span{
  text-align: center;
}

