.headline{
  font-size: 4.0em;
  font-family: $alt-font-family;
  font-weight: 700;
  color: #fff;
}

.module-header{
  font-size: 1.25em;
  font-weight: 700;
  color: $secondary-color;
  font-family: $alt-font-family;
}

.price{
  font-family: $alt-font-family;
  font-weight: normal;
  font-size: 3.0em;
  color: $light-color;
}


.speaker-name{
  margin: 0;
  font-family: $alt-font-family;
}
.speaker-desc{
  margin: 0;
}
.speaker-twitter{
  margin: 0;
  color: $secondary-color;
  font-weight: 600;
}