// Framework
@import "bourbon/bourbon";
@import "partials/grid-settings";
@import "neat/neat";

//Partials
@import "partials/base";
@import "partials/header";
@import "partials/buttons";
@import "partials/typography";
@import "partials/modules";

html {
  background: url(../../img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $primary-color;
  font-size: 16px;
}

.grid-container{
  @include outer-container;
}

