@import "bourbon/bourbon";
@import "neat/neat";

html {
  background: url(../img/audience.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

header{
  background-color: #fff;
}

.content-module{
  width:100%;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button{
  padding:10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
}

.menu{
  display:none;
}

.main-nav{
  float:right;
}

.brand-png{
  width: 100%;
  height: auto;
}

.grid-container{
  @include outer-container;
}