* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.brand {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .brand:last-child {
    margin-right: 0; }

.brand img {
  width: 150px;
  height: auto; }

nav {
  float: right;
  padding-top: 30px;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  text-align: right; }
  nav:last-child {
    margin-right: 0; }

#bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -200;
  background: url(../../video/bg-placeholder.png) no-repeat;
  background-size: cover; }

#bg-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #202527;
  opacity: 0.6; }

#header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }

.button {
  font-weight: 600;
  padding: 10px 5%;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  outline: none; }

.button:focus {
  outline: none; }

.button:hover {
  background-color: #fff;
  color: #000; }

.button-dark {
  font-weight: 600;
  padding: 10px 5%;
  background: none;
  color: #202527;
  border: 3px solid #202527;
  outline: none; }

.button-dark:hover {
  font-weight: 600;
  padding: 10px 5%;
  background: #202527;
  color: #fff;
  border: 3px solid #202527;
  outline: none; }

.headline {
  font-size: 4.0em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff; }

.module-header {
  font-size: 1.5em;
  font-weight: 700;
  color: #d6992b;
  font-family: "Montserrat", sans-serif; }

.price {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 2.0em;
  color: #b3b3b3;
  background-color: #202527;
  display: inline;
  padding: 10px 20px;
  margin-top: 30px;
  letter-spacing: 1px; }

.speaker-title {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif; }

.desc {
  margin: 0; }

.speaker-twitter {
  margin: 0;
  color: #d6992b;
  font-weight: 600; }

.label {
  color: #A29F9F;
  font-weight: 400; }

.price-label {
  color: #e0e0e0;
  font-size: 0.9em;
  padding-right: 20px; }

.event-intro {
  padding-bottom: 20px; }

.content-module {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0; }

.module-row {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .module-row:last-child {
    margin-right: 0; }

.module-col:nth-of-type(1) {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%;
  padding-top: 100px; }
  .module-col:nth-of-type(1):last-child {
    margin-right: 0; }

.module-col:nth-of-type(2) {
  position: relative;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 8.5298%;
  padding-top: 100px;
  padding-bottom: 100px;
  border-left: 1px solid #e0e0e0;
  padding-left: 5.8538em; }
  .module-col:nth-of-type(2):last-child {
    margin-right: 0; }

.lead-about {
  position: absolute;
  bottom: 0; }

#mailer {
  background-color: #202527;
  color: #fff; }

.mailer-container {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 25.58941%;
  padding-top: 200px;
  padding-bottom: 200px; }
  .mailer-container:last-child {
    margin-right: 0; }

.mailer-message {
  font-size: 2.0em; }

.mailer-form {
  margin-top: 50px; }

.email {
  width: 60%;
  float: left;
  padding: 10px 5%;
  background-color: #202527;
  border: 5px solid #2a3335;
  border-right: none; }

.email:focus {
  outline: none;
  border: 5px solid #354143; }

.submit-button {
  background-color: #2a3335;
  border: 5px solid #2a3335;
  color: #fff; }

.submit-button:hover {
  background-color: #202527;
  border: 5px solid #2a3335;
  color: #fff; }

.speaker-img, .challange-img {
  display: block;
  float: left;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .speaker-img:last-child, .challange-img:last-child {
    margin-right: 0; }

.speaker-info {
  margin-left: 8.5298%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .speaker-info:last-child {
    margin-right: 0; }

.challange-info {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  .challange-info:last-child {
    margin-right: 0; }

.challange-info {
  padding-top: 0; }

#sponsors {
  background-color: #eee; }

.sponsor {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-right: 1px solid #e0e0e0;
  text-align: center; }
  .sponsor:last-child {
    margin-right: 0; }

.sponsor-container {
  border-bottom: 1px solid #e0e0e0;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .sponsor-container:before, .sponsor-container:after {
    content: " ";
    display: table; }
  .sponsor-container:after {
    clear: both; }

.sponsor:nth-of-type(4n) {
  margin-right: 0;
  border-right: none; }

.sponsor img {
  width: 50%; }

.sponsor-message {
  padding-top: 120px;
  padding-bottom: 100px;
  margin-left: 25.58941%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .sponsor-message:last-child {
    margin-right: 0; }

.ia-logo {
  opacity: 0.2;
  display: block;
  transition: opacity 0.5s ease; }

.ia-logo:hover {
  opacity: 0.9; }

.ia-link {
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .ia-link:last-child {
    margin-right: 0; }

#blog {
  background-color: #fff; }

.blog-header {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 1.0em;
  padding-top: 50px;
  padding-bottom: 50px; }

.blog-title {
  padding: 0;
  margin: 0; }

.blog-link {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .blog-link:last-child {
    margin-right: 0; }

.push-three {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-left: 25.58941%; }
  .push-three:last-child {
    margin-right: 0; }

.bar {
  border-bottom: 1px solid #e0e0e0;
  padding-top: 30px;
  padding-bottom: 30px; }

.bar:first-of-type {
  border-top: 1px solid #e0e0e0; }

.bar:hover {
  background-color: #e0e0e0; }

.post-date {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .post-date:last-child {
    margin-right: 0; }

.blog-button-bar {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 25.58941%;
  padding-top: 50px;
  padding-bottom: 50px; }
  .blog-button-bar:last-child {
    margin-right: 0; }

footer {
  background-color: #202527;
  color: #fff; }

.footer-col {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer-col:last-child {
    margin-right: 0; }

.footer-col:first-of-type {
  margin-left: 25.58941%; }

.footer-menu {
  list-style-type: none;
  font-size: 1.125em;
  padding: 0; }

.menu-header {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 3px;
  border-bottom: 2px solid #d6992b;
  display: inline-block; }

.footer-menu {
  font-size: 1.25em; }
  .footer-menu a {
    color: white;
    text-decoration: none; }
  .footer-menu a:hover {
    color: #d6992b; }

html {
  background: url(../../img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #202527;
  font-size: 16px; }

.grid-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .grid-container:before, .grid-container:after {
    content: " ";
    display: table; }
  .grid-container:after {
    clear: both; }
