* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background: url(../img/audience.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased; }

header {
  background-color: #fff; }

.content-module {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px; }

.button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none; }

.menu {
  display: none; }

.main-nav {
  float: right; }

.brand-png {
  width: 100%;
  height: auto; }

.grid-container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .grid-container:before, .grid-container:after {
    content: " ";
    display: table; }
  .grid-container:after {
    clear: both; }

.speaker {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%;
  text-align: center; }
  .speaker:last-child {
    margin-right: 0; }
  .speaker:nth-child(4n) {
    margin-right: 0; }
  .speaker:nth-child(4n+1) {
    clear: left; }

.speaker img {
  border-radius: 50%; }

.half {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .half:last-child {
    margin-right: 0; }
